body {
  background-color: purple;
}

h1{
  text-align: center;
}

h4{
  text-align: center;
}

.nav-div{
  text-align: center;
}

.nav-item {
  color: whitesmoke;
  display: inline;
  padding-right: 2%;

}

.cover-photo {
  align-items: center;
  width: 300px;
  height: 100%;
  max-width: calc(100% - 20px);
  padding: 2px 2px
}

.project-photo{
  align-items: center;
  width: 300px;
  height: 100%;
  max-width: calc(100% - 20px);
  padding: 2px 2px
}

.about-me-card{
align-items: center;
}

.resume{
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 60%;
  margin-left: 20%;
}

/* 
.footer{
  
} */

.footer-link{
  padding-right: 2%;
}

.footer-p{
  text-align: center;
}